<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

hello and welcome to prediction

<form method = "POST" action = "/pred">
    
    <label> est_diameter_min </label>
    <input type="text" name="est_diameter_min">

    <label> est_diameter_max </label>
    <input type="text" name="est_diameter_max">

    <label> relative_velocity </label>
    <input type="text" name="relative_velocity">

    <label> miss_distance </label>
    <input type="text" name="miss_distance">

    <label> absolute_magnitude </label>
    <input type="text" name="absolute_magnitude">

    <input type="submit">


</form>
</body>
</html>